.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 30px;
}
.main-box{
    background-color: #ecf0f1;
    width: 600px;
    height: auto;
    border-radius: 10px;
}
.none-data{
    color:white;
    font-weight: bold;
    font-size: 20px;
}
.artist{
   display: flex;
    img{
        margin-left: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
        width: 100px;
        height: 100px;
        max-width: 100%;
        max-height: auto;
        border-radius: 30%;
    }
    p{  
        padding-top: 50px;
        margin-left: 20px;
        font-size: 20px;
        font-weight: bold;
    }
    p:hover{
        text-decoration: underline; color: black;
    }
    a{
        text-decoration: none;
        color: black;
    }
}
.nav-bar{
    background-color: #ecf0f1;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0px;
    padding: 15px 0 15px 0;
    a{
        text-decoration: none;
        color: black;
    }
}
.spinner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    p{
        color: white;
        margin-top: 10px;
    }
}
.info-main-box{
    display: flex;
    flex-direction: column;
    background-color: #ecf0f1;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 900px;
    height: auto;
    margin-top: 10px;
    img{
        width: auto;
        height: auto;
        max-width: 200px;
        height: 200px;
        border-radius: 10%;
    }
    
}
.btn{
    font-size: 15px;
    margin-left: 10px;
    margin-top: 5px;
    
}
.btn-outline-secondary{
    color:#ecf0f1;
    border-color: #ecf0f1;
}
.artist-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 15px 20px 15px;
    img{
        margin-right: 10px;
    }
    p{  
        text-align: left;
        
    }
    .title{
        .name{
            font-weight: bold;
            font-size: 20px;
        }
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px      
    }
    svg{
        font-size: 35px;
        margin-left: 10px;
    }
    a{
        color: black;
    }
    a:hover{
        color: blue;
    }
    
}
.comment{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-top: 1px solid lightgray;
    height: 80px;
    align-items: center;
    .contents{
        font-size: 18px;
        margin-left: 15px;
        font-weight: bold;
    }
    .date{
       padding-top: 45px;
       font-size: 13px;
       color: gray;
       padding-right: 5px;
    }
}
.badge{
    margin-right: auto;
    margin-left: 5px;
    margin-bottom: 0px;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0 10px 0;
    input:focus{
        outline: 2px solid #7f8c8d;
    }
}
.search-result{
    position: relative;
    z-index: 5;
    background-color: #ecf0f1;
    width: 100%;
    max-width: 800px;
    text-align: left;
    p{  
        margin: 5px 0 5px 5px;
    }
    a{
        color: black;
        font-weight: bold;
    }
}
.comment-box{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 15px;
    input{
        width: 90%;
        height: 100px;
    }
    input:focus{
        outline: 1px solid #83C9E7;
    }
    button{
        background-color: #1263CE;
        color: white;
        font-size: 15px;
        font-weight: bold;
        width: 10%;
        height: 100px;
        border: none;
        border-radius: 5%;
    }
}
.backBtn{
    background-color: #1263CE;
    font-size: 30px;
    font-weight: bold;
    width: 10%;
    height: 50px;
    color: white;
    border: none;
    border-radius: 5%;
    padding:0;
}
.page-btn{
    gap:4px;
    margin: 16px;
    button{
        border: none;
        border-radius: 8px;
        padding: 8px;
        margin-left: 5px;
        background: black;
        color: white;
        font-size: 1rem;
    }   
    button:disabled {
        background: grey;
        cursor: revert;
        transform: revert;
      }
      button:focus{
        background: blue;
        font-weight: bold;
      }
}




